
.item {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
    width: 200px;
    border: 2px solid rgba(234, 234, 233, 0.39);
    border-radius: 5px;
    box-sizing: border-box;
  }
   
  .venda {
    display: flex;
    flex-basis: 32%;
    flex-flow: column wrap;
    background-color: rgb(241, 241, 238);
    height: 100vh;
  }
  
  .venda .venda__items {
    height: 500px;
    overflow-y: scroll;
  }
  
  .empty-venda {
    width: 170px;
    height: 35px;
    margin: 0 auto;
    border: 2px solid rgb(5, 52, 219);
    background-color: rgb(249, 249, 246);
  }